<div class="accordion">
    <div class="options panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="clear"></div>
        <h1 class="panel-title" style="display: inline;">
            <span class="caret"></span>
            <span>BẮT ĐẦU</span>
        </h1>
        
        <div class="clear"></div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo1">
                <h4 class="panel-title">
                    <a class="menu collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">PHỤ KIỆN</a>
                </h4>
            </div>

            <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                <div class="panel-body">
                    <div class="options-floor">
                        <ul>
                            <li class="cursor" data-type="lightwood">
                                <img src="https://s3.amazonaws.com/www.slidingdoorco.com/images/thumbs/woodThumbs/woodLight.png">
                                <span>Lightwood</span>
                            </li>

                            <li class="cursor active" data-type="mediumwood">
                                <img src="https://s3.amazonaws.com/www.slidingdoorco.com/images/thumbs/woodThumbs/woodMedium.png">
                                <span>Medium Wood</span>
                            </li>
                            
                            <li class="cursor" data-type="darkwood">
                                <img src="https://s3.amazonaws.com/www.slidingdoorco.com/images/thumbs/woodThumbs/woodDark.png">
                                <span>Dark Wood</span>
                            </li>
                            
                            <li class="cursor" data-type="tile">
                                <img src="https://s3.amazonaws.com/www.slidingdoorco.com/images/thumbs/woodThumbs/tile.png">
                                <span>Tile</span>
                            </li>
                        </ul>
                        
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clear"></div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="menu collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">ROOM STYLE</a>
                </h4>
            </div>

            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                <div class="panel-body">
                    <div class="options-roomstyle">
                        <ul>
                            <li class="cursor" data-type="images/bed_room.png">
                                <span>With Furniture</span>
                            </li>

                            <li class="cursor" data-type="">
                                <span>No Furniture</span>
                            </li>
                        </ul>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4 class="panel-title">
            <a class="lightbox-control" data-target="#requestQuote">LIÊN HỆ</a>
        </h4>
        <div class="clear"></div>
        <h4 class="panel-title">
            <a class="">QUAY LẠI</a>
        </h4>
    </div>
</div>