<div class="main-nav">
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <div class="nav-item">
                <span>1. </span>
                <span class="black keyword">PERSONALIZE</span>
                <span> YOUR DOORS</span>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="nav-item">
                <a class="lightbox-control" data-target="#requestQuote">
                    <span>2. </span>
                    <span class="keyword">REQUEST</span>
                    <span> A QUOTE</span>
                </a>
            </div>
        </div>
    </div>
</div>